/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fonts */ 
@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu+Condensed');

/* DriftMap Styles */

/* Colors */
.light-blue { color: #C2D9EB; }
.active-lt-blue { color: #78acd3; }
.maroon { color: #552727; }
.light-maroon { color: #8C565B; }
.dark-grey { color: #353535; }
.white-grey { color: #E9EEF0; }

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	color: #181818;
	text-align: center;
	margin: 2% 0 1%;
}

h1 { font-size: 3.5em; }
h2 { font-size: 3em; }
h3 { font-size: 2.5em; }
h4 { font-size: 2em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1em; }
p {  font-size: 1.5em; }

p, div, span, label, input {
	font-family: 'Roboto', sans-serif;
	font-family: 'Ubuntu Condensed', sans-serif;
	line-height: 1.25em;
}


/* Forms */
form {
	margin: 10% auto 5%;
	padding: 12% 3%;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.form-group {
	margin: 2% 0 6%;
}

label {
	margin: 2%;
}





