

/* Colors */
.light-blue { color: #C2D9EB; }
.active-lt-blue { color: #78acd3; }
.maroon { color: #552727; }
.light-maroon { color: #8C565B; }
.dark-grey { color: #353535; }
.white-grey { color: #E9EEF0; }